<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Deduplication</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminsignin</display-name>
    <servlet-name>Adminsignin</servlet-name>
    <servlet-class>com11.Adminsignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsignin</servlet-name>
    <url-pattern>/Adminsignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usersignup</display-name>
    <servlet-name>Usersignup</servlet-name>
    <servlet-class>com11.Usersignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usersignup</servlet-name>
    <url-pattern>/Usersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usersignin</display-name>
    <servlet-name>Usersignin</servlet-name>
    <servlet-class>com11.Usersignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usersignin</servlet-name>
    <url-pattern>/Usersignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File_upload</display-name>
    <servlet-name>File_upload</servlet-name>
    <servlet-class>User.File_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File_upload</servlet-name>
    <url-pattern>/File_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashGeneratorUtils</display-name>
    <servlet-name>HashGeneratorUtils</servlet-name>
    <servlet-class>User.HashGeneratorUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashGeneratorUtils</servlet-name>
    <url-pattern>/HashGeneratorUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileHashGeneratorExample</display-name>
    <servlet-name>FileHashGeneratorExample</servlet-name>
    <servlet-class>User.FileHashGeneratorExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileHashGeneratorExample</servlet-name>
    <url-pattern>/FileHashGeneratorExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashGenerationException</display-name>
    <servlet-name>HashGenerationException</servlet-name>
    <servlet-class>User.HashGenerationException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashGenerationException</servlet-name>
    <url-pattern>/HashGenerationException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mailcheck</display-name>
    <servlet-name>Mailcheck</servlet-name>
    <servlet-class>com11.Mailcheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mailcheck</servlet-name>
    <url-pattern>/Mailcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateTag</display-name>
    <servlet-name>GenerateTag</servlet-name>
    <servlet-class>User.GenerateTag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateTag</servlet-name>
    <url-pattern>/GenerateTag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File_duplicate</display-name>
    <servlet-name>File_duplicate</servlet-name>
    <servlet-class>User.File_duplicate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File_duplicate</servlet-name>
    <url-pattern>/File_duplicate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Proof_tag</display-name>
    <servlet-name>Proof_tag</servlet-name>
    <servlet-class>User.Proof_tag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proof_tag</servlet-name>
    <url-pattern>/Proof_tag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Proof</display-name>
    <servlet-name>Proof</servlet-name>
    <servlet-class>User.Proof</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Proof</servlet-name>
    <url-pattern>/Proof</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>blocklavel</display-name>
    <servlet-name>blocklavel</servlet-name>
    <servlet-class>User.blocklavel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blocklavel</servlet-name>
    <url-pattern>/blocklavel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com11.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Own_download</display-name>
    <servlet-name>Own_download</servlet-name>
    <servlet-class>File.Own_download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Own_download</servlet-name>
    <url-pattern>/Own_download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>File.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Otherdownload</display-name>
    <servlet-name>Otherdownload</servlet-name>
    <servlet-class>File.Otherdownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Otherdownload</servlet-name>
    <url-pattern>/Otherdownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Other_download</display-name>
    <servlet-name>Other_download</servlet-name>
    <servlet-class>File.Other_download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Other_download</servlet-name>
    <url-pattern>/Other_download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dupblock</display-name>
    <servlet-name>Dupblock</servlet-name>
    <servlet-class>User.Dupblock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dupblock</servlet-name>
    <url-pattern>/Dupblock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changedetails</display-name>
    <servlet-name>changedetails</servlet-name>
    <servlet-class>com11.changedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changedetails</servlet-name>
    <url-pattern>/changedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Achangepass</display-name>
    <servlet-name>Achangepass</servlet-name>
    <servlet-class>com11.Achangepass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Achangepass</servlet-name>
    <url-pattern>/Achangepass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Achangedetails</display-name>
    <servlet-name>Achangedetails</servlet-name>
    <servlet-class>com11.Achangedetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Achangedetails</servlet-name>
    <url-pattern>/Achangedetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>textservlet</display-name>
    <servlet-name>textservlet</servlet-name>
    <servlet-class>User.textservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>textservlet</servlet-name>
    <url-pattern>/textservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdfservlet</display-name>
    <servlet-name>pdfservlet</servlet-name>
    <servlet-class>User.pdfservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfservlet</servlet-name>
    <url-pattern>/pdfservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ownpdf_download</display-name>
    <servlet-name>ownpdf_download</servlet-name>
    <servlet-class>File.ownpdf_download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ownpdf_download</servlet-name>
    <url-pattern>/ownpdf_download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userUploadingController</display-name>
    <servlet-name>userUploadingController</servlet-name>
    <servlet-class>User.userUploadingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userUploadingController</servlet-name>
    <url-pattern>/userUploadingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherUserFileDownloadController</display-name>
    <servlet-name>OtherUserFileDownloadController</servlet-name>
    <servlet-class>com11.OtherUserFileDownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherUserFileDownloadController</servlet-name>
    <url-pattern>/OtherUserFileDownloadController</url-pattern>
  </servlet-mapping>
</web-app>